<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Client App for the Instruments Web Service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Instruments", "Index", "Instruments")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Display login link or the user name -->
                    @{
                        string userName = "";
                        try
                        {
                            // Session will be unavailable if an exception is thrown
                            // This try-catch block handles this situation
                            // The side effect is that the "Login" link will be shown
                            // In the future, I will fix this somehow
                            userName= HttpContext.Current.Session["username"] as string;
                        }
                        catch (Exception) { }
                    }
                    @if (string.IsNullOrEmpty(userName))
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Authenticated: " + userName, "Index", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Seneca School of ICT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- Core functionality for all views in the web app -->
    <script src="~/Scripts/App/core.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
